html,
body {
  width: 100%;
  height: 100%;
  min-width: 1000px;
  min-height: 1000px;
  columns: auto;
}

.center {
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
}

H1 {
  font-family: "Arial", "Helvetica";
  font-size: 24pt;
}
H2 {
  font-family: "Arial", "Helvetica";
  font-size: 16pt;
}

.lyrics,
.lyrics_chorus {
  font-family: "Arial", "Helvetica";
  /*font-size: 10pt;*/
  color: black;
}

.lyrics_tab,
.lyrics_chorus_tab {
  font-family: "Arial", "Helvetica";
  color: green;
  /*font-size: 10pt;*/
}
.lyrics_chorus,
.lyrics_chorus_tab,
.chords_chorus,
.chords_chorus_tab {
  font-weight: bold;
  color: red;
}

.chords,
.chords_chorus,
.chords_tab,
.chords_chorus_tab {
  font-family: "Arial", "Helvetica";
  /*font-size: 10pt;*/
  color: black;
  padding-right: 4pt;
  font-weight: bold;
}

.comment,
.comment_italic,
.comment_box {
  font-family: "Arial", "Helvetica";
  background-color: rgb(150, 150, 150);
  text-align: center;
}

.comment_italic {
  font-family: "Arial", "Helvetica";
  font-style: italic;
}

.comment_box {
  font-family: "Arial", "Helvetica";
  border: solid;
}
.table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}
table,
th,
td {
  border-collapse: collapse;
}
th,
td {
  padding: 0px;
  text-align: left;
}
